 @{
	Layout = "_Layout_Login";
}
@model DishNetwork.Entity.ViewModels.UserInfo

<div class="wrap-login100 p-l-55 p-r-55 p-t-40 p-b-54">
		<div class="login100-form-logo m-t-20 m-b-20">
			<img class="logo" src="https://theuniqueitsolution.com/Images/Png_UniqueIT-min.png">
		</div>

		<div class=" otp-input-fields m-b-23 m-t-50">
			<input type="number" id="txtCodeNumber1" class="otp__digit otp__field__1">
			<input type="number" id="txtCodeNumber2" class="otp__digit otp__field__2">
			<input type="number" id="txtCodeNumber3" class="otp__digit otp__field__3">
			<input type="number" id="txtCodeNumber4" class="otp__digit otp__field__4">
			<input type="number" id="txtCodeNumber5" class="otp__digit otp__field__5">
			<input type="number" id="txtCodeNumber6" class="otp__digit otp__field__6">
		</div>

		<div class="container-login100-form-btn m-t-20">
			<div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn"></div>
				<button onclick="fnOtpSubmit()" class="login100-form-btn">
					Login
				</button>
			</div>
		</div>
	
</div>

<script>
	var otp_inputs = document.querySelectorAll(".otp__digit")
	var mykey = "0123456789".split("")
	otp_inputs.forEach((_) => {
		_.addEventListener("keyup", handle_next_input)
	})
	function handle_next_input(event) {
		let current = event.target
		let index = parseInt(current.classList[1].split("__")[2])
		current.value = event.key

		if (event.keyCode == 8 && index > 1) {
			current.previousElementSibling.focus()
		}
		if (index < 6 && mykey.indexOf("" + event.key + "") != -1) {
			var next = current.nextElementSibling;
			next.focus()
		}
		var _finalKey = ""
		for (let { value } of otp_inputs) {
			_finalKey += value
		}
		if (_finalKey.length == 6) {
			document.querySelector("#_otp").classList.replace("_notok", "_ok")
			document.querySelector("#_otp").innerText = _finalKey
		} else {
			document.querySelector("#_otp").classList.replace("_ok", "_notok")
			document.querySelector("#_otp").innerText = _finalKey
		}
	}

	function fnOtpSubmit() {
		var otp = '';
		for (var i = 1; i <= 6; i++) {
			var input = document.getElementById('txtCodeNumber' + i);
			if (input) {
				otp += input.value;
			}
		}
		console.log(otp);
		// Make sure all input fields are filled
		if (otp.length !== 6) {
			alert("Please fill in all OTP fields.");
			return;
		} else {
			$.ajax({
				type: 'POST',
				url: '/Login/OtpValidate',
				data: {otp: otp},				
				success: function (data) {
					console.log(data);
					if (data.statusCode == 200) {
						window.location.href = "/Dashboard";
					}
					else {
						console.log(data.message);
					}
				},
				error: function (req, status, err) {
					console.log(err);
				}
			});
		}
	}

</script>
