<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid"
     id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Row-->
            <div class="row g-5 g-xl-8">
                <div class="col-xl-4">
                    <!--begin::Statistics Widget 5-->
                    <a href="#"
                       class="card bg-body-white card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="text-dark fw-bolder fs-2 mb-2 mt-3">
                                Services
                            </div>
                            <div class="row py-2">
                                <div class="col-md-6">
                                    <div class="text-dark fs-3">Active</div>
                                    <h2 class="text-success">23</h2>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-dark fs-3">Errored</div>
                                    <h2 class="text-danger">12</h2>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </a>
                    <!--end::Statistics Widget 5-->
                </div>
                <div class="col-xl-4">
                    <!--begin::Statistics Widget 5-->
                    <a href="#"
                       class="card bg-body-white  card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="text-dark fw-bolder fs-2 mb-2 mt-5">
                                Transponders
                            </div>
                            <div class="row py-2">
                                <div class="col-md-6">
                                    <div class="text-dark fs-3">Active</div>
                                    <h2 class="text-success">23</h2>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-dark fs-3">Errored</div>
                                    <h2 class="text-danger">12</h2>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </a>
                    <!--end::Statistics Widget 5-->
                </div>
                <div class="col-xl-4">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-body-white  card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="text-dark fw-bolder fs-2 mb-2 mt-5">
                                Software
                            </div>
                            <div class="row py-2">
                                <div class="col-md-12">
                                    <div class="text-dark fs-3">Version</div>
                                    <h2 class="text-secondry m-3">2.8.4</h2>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
            </div>
            <!--end::Row-->
            <div class="">
                <div class="card-header-stretch">
                    <ul class="text-center nav row nav-tabs nav-line-tabs nav-stretch fs-6 border-0">
                        <li class="nav-item col-md-3">
                            <a class="nav-link w-100  mx-0"
                               data-bs-toggle="tab"
                               href="#kt_tab_pane_7">
                                <div class="card card-body bg-body-white  card-xl-stretch rounded-0 border border-1 border-gray">
                                    <div class="text-dark fw-bolder fs-2">Data 1</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-md-3">
                            <a class="nav-link w-100 mx-0"
                               data-bs-toggle="tab"
                               href="#kt_tab_pane_8">
                                <div class="card card-body bg-body-white  card-xl-stretch rounded-0 border border-1 border-gray">
                                    <div class="text-dark fw-bolder fs-2">Data 2</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-md-3">
                            <a class="nav-link w-100 mx-0"
                               data-bs-toggle="tab"
                               href="#kt_tab_pane_9">
                                <div class="card card-body bg-body-white  card-xl-stretch rounded-0 border border-1 border-gray">
                                    <div class="text-dark fw-bolder fs-2">Data 3</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-md-3">
                            <a class="nav-link w-100 mx-0"
                               data-bs-toggle="tab"
                               href="#kt_tab_pane_10">
                                <div class="card card-body bg-body-white  card-xl-stretch rounded-0 border border-1 border-gray">
                                    <div class="text-dark fw-bolder fs-2">Data 4</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-0 pt-2">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active"
                             id="kt_tab_pane_7"
                             role="tabpanel">
                            <!--begin::Row-->
                            <div class="row text-start">
                                <div class="col-xl-3">
                                    <!--begin::Statistics Widget 5-->
                                    <a href="#" class="  ">
                                        <!--begin::Body-->
                                        <div class="card card-body bg-body-white  rounded-0 card-xl-stretch border border-3 mt-2">
                                            <div class="bg-secondary rounded-4 p-2">
                                                <div class="row mx-1">
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                </div>
                                                <div class="row mx-1">
                                                    <div class="col-md-4 text-dark bold">
                                                        DHCP
                                                    </div>
                                                    <div class="col-md-8 text-muted">False</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Body-->
                                    </a>
                                    <!--end::Statistics Widget 5-->
                                </div>
                                <div class="col-xl-3">
                                    <!--begin::Statistics Widget 5-->
                                    <div class="">
                                        <!--begin::Body-->
                                        <div class="card card-body bg-body-white  rounded-0 card-xl-stretch border border-3 mt-2">
                                            <div class="bg-secondary rounded-4 p-2">
                                                <div class="row mx-1">
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                </div>
                                                <div class="row mx-1">
                                                    <div class="col-md-4 text-dark bold">
                                                        DHCP
                                                    </div>
                                                    <div class="col-md-8 text-muted">False</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Statistics Widget 5-->
                                </div>
                                <div class="col-xl-3">
                                    <!--begin::Statistics Widget 5-->
                                    <div class="">
                                        <!--begin::Body-->
                                        <div class="card card-body bg-body-white  rounded-0 card-xl-stretch border border-3  mt-2">
                                            <div class="bg-secondary rounded-4 p-2">
                                                <div class="row mx-1">
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                </div>
                                                <div class="row mx-1">
                                                    <div class="col-md-4 text-dark bold">
                                                        DHCP
                                                    </div>
                                                    <div class="col-md-8 text-muted">False</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Statistics Widget 5-->
                                </div>
                                <div class="col-xl-3">
                                    <!--begin::Statistics Widget 5-->
                                    <div class="">
                                        <!--begin::Body-->
                                        <div class="card card-body bg-body-white  rounded-0 card-xl-stretch border border-3  mt-2">
                                            <div class="bg-secondary rounded-4 p-2">
                                                <div class="row mx-1">
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                    <div class="col-md-4 text-dark bold">
                                                        Mac
                                                    </div>
                                                    <div class="col-md-8 text-muted">
                                                        fe80::7682:9d71:f2c2:f9ca
                                                    </div>
                                                </div>
                                                <div class="row mx-1">
                                                    <div class="col-md-4 text-dark bold">
                                                        DHCP
                                                    </div>
                                                    <div class="col-md-8 text-muted">False</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Statistics Widget 5-->
                                </div>
                            </div>
                            <!--end::Row-->
                        </div>

                        <div class="tab-pane fade"
                             id="kt_tab_pane_8"
                             role="tabpanel">
                            ...
                        </div>

                        <div class="tab-pane fade"
                             id="kt_tab_pane_9"
                             role="tabpanel">
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <!--begin::Row-->
            <div class="row g-5 pt-4 g-xl-8">
                <div class="col-xl-4">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-body-white  card-xl-stretch">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="text-dark fw-bolder fs-2 mt-3">
                                Temperatures
                            </div>
                            <div class="row py-2">
                                <div class="col-md-12">
                                    <div class="w-100 bg-success fs-3 rounded p-2 text-light">
                                        12
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
                <div class="col-xl-4">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-body-white  card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="text-dark fw-bolder fs-2 mt-3">Fans</div>
                            <div class="row py-2">
                                <div class="col-md-12">
                                    <div class="w-100 bg-success fs-3 rounded p-2 text-light">
                                        12
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
                <div class="col-xl-4">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-body-white  card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="text-dark fw-bolder fs-2 mt-3">
                                Power Supplies
                            </div>
                            <div class="row py-2">
                                <div class="col-md-12">
                                    <div class="w-100 bg-success fs-3 rounded p-2 text-light">
                                        12
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row g-5 pt-4 g-xl-8">
                <div class="col-xl-12">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-body-white  card-xl-stretch">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="text-dark fw-bolder fs-2 my-3">
                                Satellite Input
                            </div>
                            <div class="row py-2">
                                <div class="col-md-12">
                                    <table class="styled-table">
                                        <tr>
                                            <td class="header-cell simple-col">Header 1</td>
                                            <td class="header-cell">Header 2</td>
                                            <td class="header-cell">Header 3</td>
                                            <td class="header-cell">Header 4</td>
                                            <td class="header-cell">Header 5</td>
                                            <td class="header-cell">Header 6</td>
                                            <td class="header-cell">Header 7</td>
                                            <td class="header-cell">Header 8</td>
                                            <td class="header-cell">Header 9</td>
                                        </tr>
                                        <tr>
                                            <td class="cell simple-col">Row 1 Col 1</td>
                                            <td class="cell">Row 1 Col 2</td>
                                            <td class="cell">Row 1 Col 3</td>
                                            <td class="cell">Row 1 Col 4</td>
                                            <td class="cell">Row 1 Col 5</td>
                                            <td class="cell">Row 1 Col 6</td>
                                            <td class="cell">Row 1 Col 7</td>
                                            <td class="cell">Row 1 Col 8</td>
                                            <td class="cell">Row 1 Col 9</td>
                                        </tr>
                                        <tr class="even-row">
                                            <td class="cell simple-col">Row 2 Col 1</td>
                                            <td class="cell">Row 2 Col 2</td>
                                            <td class="cell">Row 2 Col 3</td>
                                            <td class="cell">Row 2 Col 4</td>
                                            <td class="cell">Row 2 Col 5</td>
                                            <td class="cell">Row 2 Col 6</td>
                                            <td class="cell">Row 2 Col 7</td>
                                            <td class="cell">Row 2 Col 8</td>
                                            <td class="cell">Row 2 Col 9</td>
                                        </tr>
                                        <tr>
                                            <td class="cell simple-col">Row 3 Col 1</td>
                                            <td class="cell">Row 3 Col 2</td>
                                            <td class="cell">Row 3 Col 3</td>
                                            <td class="cell">Row 3 Col 4</td>
                                            <td class="cell">Row 3 Col 5</td>
                                            <td class="cell">Row 3 Col 6</td>
                                            <td class="cell">Row 3 Col 7</td>
                                            <td class="cell">Row 3 Col 8</td>
                                            <td class="cell">Row 3 Col 9</td>
                                        </tr>
                                        <tr class="even-row">
                                            <td class="cell simple-col">Row 4 Col 1</td>
                                            <td class="cell">Row 4 Col 2</td>
                                            <td class="cell">Row 4 Col 3</td>
                                            <td class="cell">Row 4 Col 4</td>
                                            <td class="cell">Row 4 Col 5</td>
                                            <td class="cell">Row 4 Col 6</td>
                                            <td class="cell">Row 4 Col 7</td>
                                            <td class="cell">Row 4 Col 8</td>
                                            <td class="cell">Row 4 Col 9</td>
                                        </tr>
                                        <tr>
                                            <td class="cell simple-col">Row 5 Col 1</td>
                                            <td class="cell">Row 5 Col 2</td>
                                            <td class="cell">Row 5 Col 3</td>
                                            <td class="cell">Row 5 Col 4</td>
                                            <td class="cell">Row 5 Col 5</td>
                                            <td class="cell">Row 5 Col 6</td>
                                            <td class="cell">Row 5 Col 7</td>
                                            <td class="cell">Row 5 Col 8</td>
                                            <td class="cell">Row 5 Col 9</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row g-5 pt-4 g-xl-8">
                <div class="col-xl-12">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-body-white  card-xl-stretch">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="text-dark fw-bolder fs-2 my-3">
                                ATSC Input
                            </div>
                            <div class="row py-2 pb-4">
                                <div class="col-md-12">
                                    <table class="styled-table">
                                        <tr>
                                            <td class="header-cell simple-col border-0">
                                                Servicces
                                            </td>
                                            <td colspan="4" class="text-center">
                                                Header 2
                                            </td>
                                            <td colspan="4" class="text-center">
                                                Header 3
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell simple-col border-0">
                                                Row 1 Col 1
                                            </td>
                                            <td class="cell bg-dark rounded text-white border border-white">
                                                Row 1 Col 2
                                            </td>
                                            <td class="cell bg-dark rounded text-white border border-white">
                                                Row 1 Col 3
                                            </td>
                                            <td class="cell bg-dark rounded text-white border border-white">
                                                Row 1 Col 4
                                            </td>
                                            <td class="cell bg-dark rounded text-white border border-white">
                                                Row 1 Col 5
                                            </td>
                                            <td class="cell bg-dark rounded text-white border border-white">
                                                Row 1 Col 6
                                            </td>
                                            <td class="cell bg-dark rounded text-white border border-white">
                                                Row 1 Col 7
                                            </td>
                                            <td class="cell bg-dark rounded text-white border border-white">
                                                Row 1 Col 8
                                            </td>
                                            <td class="cell bg-dark rounded text-white border border-white">
                                                Row 1 Col 9
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row g-5 pt-4 g-xl-8">
                <div class="col-xl-12">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-body-white  card-xl-stretch">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="text-dark fw-bolder fs-2 my-3">
                                Evolve Qam
                            </div>
                            <div class="row py-2 pb-4">
                                <div class="col-md-12">
                                    <table class="styled-table">
                                        <tr>
                                            <td class="header-cell simple-col border-0">
                                                Servicces
                                            </td>
                                            <td colspan="4" class="text-center">
                                                Header 2
                                            </td>
                                            <td colspan="4" class="text-center">
                                                Header 3
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell simple-col border-0">
                                                Row 1 Col 1
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 2
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 3
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 4
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 5
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 6
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 7
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 8
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 9
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell simple-col border-0">
                                                Row 1 Col 1
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 2
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 3
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 4
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 5
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 6
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 7
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 8
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 9
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell simple-col border-0">
                                                Row 1 Col 1
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 2
                                            </td>
                                            <td class="cell bg-dark rounded text-white border border-white">
                                                Row 1 Col 3
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 4
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 5
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 6
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 7
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 8
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 9
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row g-5 pt-4 g-xl-8">
                <div class="col-xl-12">
                    <!--begin::Statistics Widget 5-->
                    <div class="card bg-body-white  card-xl-stretch">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="text-dark fw-bolder fs-2 my-3">Procam</div>
                            <div class="row py-2 pb-4">
                                <div class="col-md-12">
                                    <table class="styled-table">
                                        <tr>
                                            <td class="header-cell simple-col border-0">
                                                Authorization
                                            </td>
                                            <td colspan="4" class="text-center">
                                                Header 2
                                            </td>
                                            <td colspan="4" class="text-center">
                                                Header 3
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell simple-col border-0">
                                                ProCAMs
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 2
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 3
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 4
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 5
                                            </td>
                                            <td class="cell bg-success rounded text-white border border-white">
                                                Row 1 Col 6
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics Widget 5-->
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->