<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Post-->
	<div class="post d-flex flex-column-fluid" id="kt_post">
		<!--begin::Container-->
		<div id="kt_content_container" class="container-xxl">
			<!--begin::Row-->
			<div class="row g-5 g-xl-8 ">
				<div class="col-xl-6">
					<!--begin::Statistics Widget 5-->
					<a href="#" class="card bg-body-white hoverable  mb-xl-8">
						<!--begin::Body-->
						<div class="card-body d-flex gap-5">
							<!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
							<!-- <span class="svg-icon svg-icon-primary svg-icon-3x ms-n1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<path d="M21 10H13V11C13 11.6 12.6 12 12 12C11.4 12 11 11.6 11 11V10H3C2.4 10 2 10.4 2 11V13H22V11C22 10.4 21.6 10 21 10Z" fill="black" />
									<path opacity="0.3" d="M12 12C11.4 12 11 11.6 11 11V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V11C13 11.6 12.6 12 12 12Z" fill="black" />
									<path opacity="0.3" d="M18.1 21H5.9C5.4 21 4.9 20.6 4.8 20.1L3 13H21L19.2 20.1C19.1 20.6 18.6 21 18.1 21ZM13 18V15C13 14.4 12.6 14 12 14C11.4 14 11 14.4 11 15V18C11 18.6 11.4 19 12 19C12.6 19 13 18.6 13 18ZM17 18V15C17 14.4 16.6 14 16 14C15.4 14 15 14.4 15 15V18C15 18.6 15.4 19 16 19C16.6 19 17 18.6 17 18ZM9 18V15C9 14.4 8.6 14 8 14C7.4 14 7 14.4 7 15V18C7 18.6 7.4 19 8 19C8.6 19 9 18.6 9 18Z" fill="black" />
								</svg>
							</span> -->
							<!--end::Svg Icon-->
							<div class="fw-bold text-gray-400 fs-3 mt-2">Total Connections</div>
							<div class="text-gray-900 fw-bolder fs-1 ">200</div>
						</div>
						<!--end::Body-->
					</a>
					<div class="card d-flex flex-row gap-1 bg-transparent w-100 mb-xl-8">
						<a href="#" class="col-6 card bg-body-white hoverable card-xl-stretch mb-xl-8 ">
							<!--begin::Body-->
							<div class="card-body d-flex gap-5">
								<!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
								<!-- <span class="svg-icon svg-icon-primary svg-icon-3x ms-n1">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path d="M21 10H13V11C13 11.6 12.6 12 12 12C11.4 12 11 11.6 11 11V10H3C2.4 10 2 10.4 2 11V13H22V11C22 10.4 21.6 10 21 10Z" fill="black" />
										<path opacity="0.3" d="M12 12C11.4 12 11 11.6 11 11V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V11C13 11.6 12.6 12 12 12Z" fill="black" />
										<path opacity="0.3" d="M18.1 21H5.9C5.4 21 4.9 20.6 4.8 20.1L3 13H21L19.2 20.1C19.1 20.6 18.6 21 18.1 21ZM13 18V15C13 14.4 12.6 14 12 14C11.4 14 11 14.4 11 15V18C11 18.6 11.4 19 12 19C12.6 19 13 18.6 13 18ZM17 18V15C17 14.4 16.6 14 16 14C15.4 14 15 14.4 15 15V18C15 18.6 15.4 19 16 19C16.6 19 17 18.6 17 18ZM9 18V15C9 14.4 8.6 14 8 14C7.4 14 7 14.4 7 15V18C7 18.6 7.4 19 8 19C8.6 19 9 18.6 9 18Z" fill="black" />
									</svg>
								</span> -->
								<!--end::Svg Icon-->
								<div class="fw-bold text-gray-400 fs-3 mt-2">Connected</div>
								<h1 class="text-primary fw-bolder  ">150</h1>
							</div>
							<!--end::Body-->
						</a>
						<a href="#" class="col-6 card bg-body-white hoverable card-xl-stretch mb-xl-8 ">
							<!--begin::Body-->
							<div class="card-body d-flex gap-5">
								<!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
								<!-- <span class="svg-icon svg-icon-primary svg-icon-3x ms-n1">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path d="M21 10H13V11C13 11.6 12.6 12 12 12C11.4 12 11 11.6 11 11V10H3C2.4 10 2 10.4 2 11V13H22V11C22 10.4 21.6 10 21 10Z" fill="black" />
										<path opacity="0.3" d="M12 12C11.4 12 11 11.6 11 11V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V11C13 11.6 12.6 12 12 12Z" fill="black" />
										<path opacity="0.3" d="M18.1 21H5.9C5.4 21 4.9 20.6 4.8 20.1L3 13H21L19.2 20.1C19.1 20.6 18.6 21 18.1 21ZM13 18V15C13 14.4 12.6 14 12 14C11.4 14 11 14.4 11 15V18C11 18.6 11.4 19 12 19C12.6 19 13 18.6 13 18ZM17 18V15C17 14.4 16.6 14 16 14C15.4 14 15 14.4 15 15V18C15 18.6 15.4 19 16 19C16.6 19 17 18.6 17 18ZM9 18V15C9 14.4 8.6 14 8 14C7.4 14 7 14.4 7 15V18C7 18.6 7.4 19 8 19C8.6 19 9 18.6 9 18Z" fill="black" />
									</svg>
								</span> -->
								<!--end::Svg Icon-->
								<div class="fw-bold text-gray-400 fs-3 mt-2">DisConnected</div>
								<h1 class="text-primary fw-bolder  ">50</h1>
							</div>
							<!--end::Body-->
						</a>
					</div>

					<!--end::Statistics Widget 5-->
				</div>
				<div class="col-xl-6">
					<!--begin::Statistics Widget 5-->
					<a href="#" class="card bg-body-white hoverable card-xl-stretch mb-xl-8 " style="width: 100%; height: 60rem;">
						<!--begin::Body-->
						<div class="card-body">

							<div class="text-primary fw-bolder fs-2 mb-2 mt-5">Locations</div>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.143784501739!2d70.8694083!3d22.7971355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39598ddb5ae21519%3A0xccd67a8d505f424e!2sKetone%20laminates!5e0!3m2!1sen!2sin!4v1678167872496!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 90%;" allowfullscreen="" loading="lazy"></iframe>
						</div>
						<!--end::Body-->
					</a>
					<!--end::Statistics Widget 5-->
				</div>

			</div>
			<!--end::Row-->

		</div>
		<!--end::Container-->
	</div>
	<!--end::Post-->
</div>